*.rbc
*.sassc
.sass-cache
.sass-cache/
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/target
/target/*
/db/*.sqlite3
/public/system/*
/coverage/
.idea/
.env
versioneye-maven-plugin.iml
versioneye-maven-plugin.ipr
versioneye-maven-plugin.iws
.classpath
.project
.settings
